.App{
    display: flex;
}
.bg-gradient{

    width: calc(100vw - 250px);
    height: 400px;
    background-image:linear-gradient(87deg,#11cdef,#1171ef);
    position: absolute;
    top:0;

    
}
.container{
    width: calc(100vw - 250px);
    height: 100vh;
    
   
}
.container::before{
    content: "";
    width: calc(100vw - 250px);
    height: 400px;
    background-image:linear-gradient(87deg,#11cdef,#1171ef);
    position: absolute;
    z-index: -1;
    top:0;
    right:0;

}
.boxes-top{

    width: 100%;
    margin-top: 50px;
    display:grid;
    grid-area: ;
   
}
@media (min-width: 700px) and (max-width:1300px){

.boxes-top{
    
    display:flex;
    flex-wrap: wrap;
}
}
